body {
    margin: 0;
    padding: 0;
    color: white;
    font-family: sans-serif;
    word-wrap: break-word;
    overflow-wrap: break-word;
    background-color: black;
}

html {
    scroll-behavior: smooth;
}

body::-webkit-scrollbar {
    display: none;
}

h1,h2,h3,h4 {
    font-weight: 1000;
    color: white;
}

h1.first {
    text-shadow: 2px 2px black;
    margin-top: 32vh;
}

.button {
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.button > img{
    z-index: 60;
    width: 60px;
    animation: jumping 1.2s ease-in-out infinite;
    margin-top: 25vh;
    cursor: pointer;
}

@keyframes jumping {
    from {transform: translateY(-15px);}
    50% {transform: translateY(0);}
    to {transform: translateY(-15px);}
}

.wrapper {
    width: 100%;
    margin: 0 auto;
}

main {
    display: block;
    background-color: white;
}

.container {
    width: 100%;
    max-width: 760px;
    margin: 0 auto;
    padding: 0 20px;
}

section.module p {
    margin-bottom: 40px;
    text-align: justify;
    font-size: 20px;
}

section.module:last-child{
    margin-bottom: 0;
}

section.module h2 {
    margin-bottom: 40px;
    font-size: 30px;
}

section.module.content{
    padding: 40px 0;
    background: linear-gradient(to bottom, #363636 20%, #474747);
}

section.module.contenttwo{
    padding: 20px 0;
    background: linear-gradient(to top, #363636 20%, #474747);
}
.container2 {
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.container2 img {
    width: 60px;
    height: 60px;
    cursor: pointer;
    -webkit-transition: -webkit-transform .3s ease-in-out;
    transition: transform .3s ease-in-out;
    transition: filter .3s ease-in-out;
    -webkit-transition: .3s ease-in-out;
}

.container2 img:hover {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
    -webkit-filter: brightness(120%);
    filter: brightness(120%);
}
section.module.parallax {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh !important;
    width: 100%;
    position: relative;
    overflow: hidden;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
}

section.module.parallax:after {
    content: "";
    height: 100%;
    width: 100%;
    position: absolute;
    z-index: 8;
    background: -moz-linear-gradient(to bottom, rgba(0,0,0,0)0, rgba(0,0,0,0)40%, #000 100%);
    background: -webkit-linear-gradient(to bottom, rgba(0,0,0,0)0, rgba(0,0,0,0)40%, #000 100%);
    background: linear-gradient(to bottom, rgba(0,0,0,0)0, rgba(0,0,0,0)40%, #000 100%);
}

section.module.parallax-1 {
    background-image: url("https://images3.alphacoders.com/882/882548.jpg");
}

section.module.parallax-2 {
    background-image: url("https://images5.alphacoders.com/882/882383.jpg");
}

section.module.parallax-3 {
    background-image: url("https://popnow.com.br/wp-content/uploads/2021/07/E6WHeh0VEAQXUg--scaled-e1626385016551.jpeg");
}

section.module.parallax-4 {
    background-image: url("https://upload.wikimedia.org/wikipedia/commons/thumb/7/7a/Matt_%26_Ross_Duffer_%2836214184705%29.jpg/1920px-Matt_%26_Ross_Duffer_%2836214184705%29.jpg");
}

section.module.parallax h1 {
    color: #fff;
    text-align: center;
    font-size: 78px;
    z-index: 50;
    text-transform: uppercase;
}


@media screen and (max-width: 790px) {
    html {
        overflow-x: hidden;
    }
    p {
        margin-right: 30px;
    }
        
}

@media screen and (max-width: 500px) {
    section.module.parallax h1 {
        color: #fff;
        text-align: center;
        font-size: 64px;
        z-index: 50;
        text-transform: uppercase;
    }
    p {

        margin-right: 36px;
    }
    html {
        overflow-x: hidden;
    }

    @media screen and (max-width: 437px) {
        section.module h2 {
            font-size: 28px;
        }
        p {
            margin-right: 36px;
        }
        section.module.parallax h1 {
            color: #fff;
            text-align: center;
            font-size: 54px;
            z-index: 50;
            text-transform: uppercase;
        }
        html {
            overflow-x: hidden;
        }
    @media screen and (max-width: 360px) {
        section.module.parallax h1 {
            color: #fff;
            text-align: center;
            font-size: 50px;
            z-index: 50;
            text-transform: uppercase;
        }
        section.module h2 {
            font-size: 22px;
        }
    }
    @media screen and (max-width: 360px) {
        section.module.parallax h1 {
            color: #fff;
            text-align: center;
            font-size: 46px;
            z-index: 50;
            text-transform: uppercase;
        }
        section.module.contenttwo{
            padding: 10px 0;
            background: linear-gradient(to top, #363636 20%, #474747);
        }

    }
}}